* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

/* background */
.main_background {
    width: 100%;
    height: 100vh;
    background-color: #F9F9F9;

}

/* ----------------------------------------------- */
/* header */
.header {
    height: 12%;
    width: 100%;
    background-color: #fff;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

/* ----------------------------------------------- */
/* body */
.body {
    height: 68.5%;
    width: 100%;
    display: flex;
}

/* body_menu */
.main_body_menu {
    float: left;
    width: 16%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0.05, 0.05);
    border-radius: 5px;
}
.headerLogo{
    width: 13.5%;
    height: 100%;
    padding: 10px 60px;
}
.headerName {
    width: 75%;
    height: 50%;
    margin-top: 23px;
    margin-left: 3.5%;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #2E86C7;
    word-spacing: 10px;
}
.headerTittle{
    padding: 8px 10px;
}

.tablinks {
    display: block;
    background-color: inherit;
    color: #989B99;
    padding: 15px 40px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
}

.tablinks:hover {
    background-color: #2E86C7;
    color: white;
    border: 1px solid #2E86C7;
}

.tablinks.active {
    background-color: #2E86C7;
    color: white;
    border: none;
}

/* menu */
.main_body_menu_ui {
    margin-left: 15px;
    margin-top: 2px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #2E86C7;
}


.main_body_menu_conduct {
    margin-left: 15px;
    margin-top: 2px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #2E86C7;
}

.main_body_menu_au {
    margin-left: 15px;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #2E86C7;
}

/* ----------------------------------------------- */
/* body template */
.main_body_table {
    margin: 1%;
    float: left;
    width: 84%;
    border-left: none;
    height: 95%;
    display: flex;

}

.tabcontent {
    margin-top: 6.5%;
    margin-bottom: 1.5%;
    margin-left: 1.5%;
    float: left;
    width: 100%;
    border-left: none;
    height: 90%;
    display: flex;
}

.funtion_menu {
    width: 18%;
    height: 75%;
    border: 3px solid #2E86C7;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 8px 0 rgba(0, 0, 0.03, 0.1);
}

.funtion_menu_name {
    margin: 10px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #2E86C7;
}

.control {
    margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 5px;
    height: 15%;
    width: 60%;
}

.control_but {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #989B99;
    border: 2px solid #2E86C7;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0.03, 0.03);
}

.control_but:hover {
    background-color: #2E86C7;
    color: white;
}

/* battery */
.battery_body {
    width: 100%;
    height: 100%;
    display: flex;
}

.funtion_body_battery {
    margin-top:-5.5%;
    margin-left: 2%;
    width: 95%;
    height: 100%;
    border: 3px solid #2E86C7;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 8px 0 rgba(0, 0, 0.03, 0.1);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 22px;
    padding: 8px;
    color: #989B99;
}

.peripheral_td_name {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 22px;
    padding: 8px;
    color: #989B99;
}
.peripheral_td_value {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 22px;
    padding: 8px;
    color: #989B99;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #2E86C7;
    color: white;
}

.peripheral_th {
    text-align: left;
    background-color: #2E86C7;
    color: white;
}

/* package */
.package_body {
    width: 100%;
    height: 100%;
    display: flex;
}

.funtion_body_package {
    margin-left: 1%;
    width: 95%;
    height: 50%;
    border: 3px solid #2E86C7;
    border-radius: 10px;
}

/* peripheral */
.peripheral_body {
    width: 100%;
    height: 100%;
    display: flex;
}

.funtion_body_peripheral {
    margin-left: 5%;
    width: 90%;
    height: 55%;
    border: 3px solid #2E86C7;
    border-radius: 10px;
}

/* data */

.information {
    height: 19.5%;
    width: 100%;
    display: flex;
    background-color: #2E86C7;
}

/* css for chart */
.data_chart{
    width: 100%;
    height: 100%;
    display: flex;
}

.dataButton {
    padding: 18px;
    border-radius: 10px;
    margin-top: -4.5%;
    width: 30%;
    height: 95%;
    border: 3px solid #2E86C7;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 8px;
    color: #989B99;
}

.dataChart {
    margin-top: -4.5%;
    margin-left: 1%;
    border-radius: 10px;
    height: 95%;
    width: 68%;
    border: 3px solid #2E86C7;
    
}
.cell{
    width: 100%;
    height: 12%;
    display: flex;
}
.cellName{
    width: 40%;
    height: 100%;
}
.cellSelect{
    margin-left: 5%;
    width: 55%;
    height: 100%;
}
.package{
    margin-top: 7px;
    width: 100%;
    height: 12%;
    display: flex;
}
.packageName{
    width: 40%;
    height: 100%;
}
.packageSelect{
    margin-left: 5%;
    width: 55%;
    height: 100%;
}
.monitor{
    margin-top: 5px;
    width: 100%;
    height: 18%;
    display: flex;
}
.monitoringName{
    width: 40%;
    height: 100%;
    padding:22px 0px
}
.monitoringSelect{
    margin-left: 5%;
    width: 55%;
    height: 100%;
}
.moniVoltage{
    height: 33%;
    width: 100%;
}
.moniTem{
    height: 33%;
    width: 100%;
}
.moniCurrent{
    height: 33%;
    width: 100%;
}
.date{
    margin-top: 10px;
    width: 100%;
    height: 12%;
    display: flex;
}
.dateName{
    width: 40%;
    height: 100%;
}
.dateSelect{
    margin-left: 5%;
    width: 55%;
    height: 100%;
}
.fromtime{
    margin-top: 7px;
    width: 100%;
    height: 12%;
    display: flex;
}
.fromtimeName{
    width: 40%;
    height: 100%;
}
.fromtimeSelect{
    margin-left: 5%;
    width: 55%;
    height: 100%;
}
.totime{
    margin-top: 7px;
    width: 100%;
    height: 12%;
    display: flex;
}
.totimeName{
    width: 40%;
    height: 100%;
}
.totimeSelect{
    margin-left: 5%;
    width: 55%;
    height: 100%;
}
.submit{
    margin-top: 7px;
    width: 100%;
    height: 12%;
    display: flex;
    padding: 10px 110px;
}
/* css button select */
/* .selectButton{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #989B99;
    padding: 5px;
} */

#select_cell {
    border-radius: 5px;
    border: 1px solid #2E86C7;
    font-family: 'Lato', sans-serif;
    color: #989B99;
    padding: 2px;
}


#select_package {
    border-radius: 5px;
    border: 1px solid #2E86C7;
    font-family: 'Lato', sans-serif;
    color: #989B99;
    padding: 2px;
}


.checkboxMonitor {
    font-weight: 400;
    font-size: 18px;
    color: #989B99;
    width: 50%;
}



.selectime{
    padding: 2px;
    font-weight: 400px;
    font-size: 18px;
    color: #989B99;
    
}

#date {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #2E86C7;
    padding: 2px;
    width: 160px;
    font-family: 'Lato', sans-serif;
    font-weight: 400px;
    color:#989B99
}

#h_from {

    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #2E86C7;
    padding: 2px;
    width: 70px;
    font-family: 'Lato', sans-serif;
    font-weight: 400px;
    color:#989B99;
}

#m_from {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #2E86C7;
    padding: 2px;
    width: 70px;
    font-family: 'Lato', sans-serif;
    font-weight: 400px;
    color:#989B99
}

#h_to{

    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #2E86C7;
    padding: 2px;
    width: 70px;
    font-family: 'Lato', sans-serif;
    font-weight: 400px;
    color:#989B99;
}

#m_to{
    margin-left: 1px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #2E86C7;
    padding: 2px;
    width: 70px;
    font-family: 'Lato', sans-serif;
    font-weight: 400px;
    color:#989B99
}
/* css chart */
#myChart{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2.5%;
    margin-right: 2.5;
    padding: 20px;
    height: 93%;
    width: 95%;
}

#submit{
    border-radius: 5px;
    width: 80px;
    height: 35px;
    background-color: white;
    border: 2px solid #2E86C7;
    font-family: 'Lato', sans-serif;
    font-weight: 400px;
    color: #989B99
}

#submit:hover {
    background-color: #2E86C7 ;
    color: white;
}

.infor1{
    width: 13.5%;
    height: 100%;
    padding: 10px 10px;
}
.infor2{
    margin-left: 3%;
    width: 25%;
    height: 100%;
    padding: 5px 2px;
    font-family: 'Lato', sans-serif;
    font-weight: 400px;
    color:white;
    font-size: 15px;
}
.infor2 .p{
    margin: 0%;
}
.infor3{
    margin-left: 3%;
    width: 25%;
    height: 100%;
    background-color: burlywood;
    padding: 5px 5px;
}